In [1]:
t = (4,5,6,7)
t

(4, 5, 6, 7)

In [2]:
l= [10,4,20.4,30.00]
l

[10, 4, 20.4, 30.0]

In [3]:
s = 'xyztr'
s

'xyztr'

In [5]:
for i in t:  # iterable is any object that you can use looping
    print(i, end =' ')

4 5 6 7

In [1]:
help('range')
# run this code to get more help

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [9]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [10]:
#nested loops  are important in any programming language
for i in range(2):
    print(i)

0
1

In [11]:
for j in range(5):
    print(j)

0
1
2
3
4

In [12]:
#nested loops are loop inside loop 

for i in range(2): #outer
    for j in range(5):  #inner loop
        print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [18]:
for i in ['product A' , 'product B','product C']:  #,'product C'
    for j in range(5):
        print([i,j])

['product A', 0]
['product A', 1]
['product A', 2]
['product A', 3]
['product A', 4]
['product B', 0]
['product B', 1]
['product B', 2]
['product B', 3]
['product B', 4]
['product C', 0]
['product C', 1]
['product C', 2]
['product C', 3]
['product C', 4]

In [25]:
products= ['product A' , 'product B']
exp_sales= [1000,1200,5000,3400,2330]

for i in products:
    for j in sales:
        print([i,j])

['product A', 1000]
['product A', 1200]
['product A', 5000]
['product A', 3400]
['product A', 2330]
['product B', 1000]
['product B', 1200]
['product B', 5000]
['product B', 3400]
['product B', 2330]

In [31]:
products= ['product A' , 'product B'] #triple nested loop just like your triple whoper menu
sales= [1000,1200,5000,3400,2330]
timeHorizon = (1,3,12)
for prods in products:  # outer loop
    
    for sale in exp_sales:   #inner loop
        
        for t_hor in timeHorizon:  # the most inner loop
            print('Expected sales for specific period of {0} months for {1}: ${sales}'.format(t_hor,prods,sales= sale*t_hor))
    print('\n')
    print('SPACE')
    print('\n')

Expected sales for specific period of 1 months for product A: $1000
Expected sales for specific period of 3 months for product A: $3000
Expected sales for specific period of 12 months for product A: $12000
Expected sales for specific period of 1 months for product A: $1200
Expected sales for specific period of 3 months for product A: $3600
Expected sales for specific period of 12 months for product A: $14400
Expected sales for specific period of 1 months for product A: $5000
Expected sales for specific period of 3 months for product A: $15000
Expected sales for specific period of 12 months for product A: $60000
Expected sales for specific period of 1 months for product A: $3400
Expected sales for specific period of 3 months for product A: $10200
Expected sales for specific period of 12 months for product A: $40800
Expected sales for specific period of 1 months for product A: $2330
Expected sales for specific period of 3 months for product A: $6990
Expected sales for specific period of 12 months for product A: $27960


SPACE


Expected sales for specific period of 1 months for product B: $1000
Expected sales for specific period of 3 months for product B: $3000
Expected sales for specific period of 12 months for product B: $12000
Expected sales for specific period of 1 months for product B: $1200
Expected sales for specific period of 3 months for product B: $3600
Expected sales for specific period of 12 months for product B: $14400
Expected sales for specific period of 1 months for product B: $5000
Expected sales for specific period of 3 months for product B: $15000
Expected sales for specific period of 12 months for product B: $60000
Expected sales for specific period of 1 months for product B: $3400
Expected sales for specific period of 3 months for product B: $10200
Expected sales for specific period of 12 months for product B: $40800
Expected sales for specific period of 1 months for product B: $2330
Expected sales for specific period of 3 months for product B: $6990
Expected sales for specific period of 12 months for product B: $27960


SPACE

In [32]:
# list operations

numbers = [1,2,3,4,5,664,7456]
numbers

[1, 2, 3, 4, 5, 664, 7456]

In [33]:
new_numbers = []
for n in numbers:
    new_numbers.append(n*2)
print(new_numbers)

[2, 4, 6, 8, 10, 1328, 14912]

In [1]:
for i in range(2):
    for j in range(5):
        print(i+j,end = ' ')

0 1 2 3 4 1 2 3 4 5

In [12]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [36]:
type(new_list_comprehension_1)

list

In [37]:
print(new_list_comprehension_1)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [38]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
[num ** 3 for num in range(1, 11) if num % 2 != 0 ]

[1, 27, 125, 343, 729]

In [40]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i ** 3, end = " ")

1 27 125 343 729

In [42]:
def raise_to_the_power_of_2(x):   #lambda functions to make yourself look cool
    return x ** 2

In [43]:
raise_to_the_power_of_2(3)

9

In [44]:
lambda x: x ** 2

In [45]:
raise_to_the_power_of_2_lambda = lambda x: x ** 2

In [52]:
raise_to_the_power_of_2_lambda(5)

25

In [53]:
(lambda x: x / 2)(11)

5.5

In [59]:
sum_xy = lambda x, y: x + y
sum_xy(2,7)

9

In [61]:
sum_xy = lambda x, y,z: x + y + z  # lambda functions are good when you want to add a mathematical formulation!
sum_xy(2,7,3)

12

In [54]:
(lambda x: (2 + 5 * x ** 4) ** 2 / (x + 3) ** 3)(2)

53.792

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3.
<br> $$
\frac{(135 - x^3)^4}{(1 + x)^5}
$$

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [56]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.  triple nested loop

In [57]:
quantities = [1000, 1500, 1300]